body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

label {
  display: block;
}

label {
    border-radius: 25px;
    padding: 10px;
    height: 131px;
    margin: 4px;
    cursor: pointer;
    border: 2px solid #e5e5e6;
}

input[type=radio]:checked+label {
  border-radius: 25px;
  padding: 10px;
  height: 131px;
  margin: 4px;
  cursor: pointer;
  border: 2px solid #ff9b4e;
}

input {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0%;
}

span {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.primaryColor {
  color: #ff9b4e;
}

.whiteSpacePreWrap {
  white-space: pre-wrap;
}

.opacityLow {
  opacity: 0.6;
}

.cardWidth {
  width: 319px;
}

.storyCardStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: static;
  width: 319px;
  height: 607px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(57, 53, 60, 0.08);
  border-radius: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.faqCardStyle {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  height: fit-content;
  left: 0px;
  top: 40px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.secondaryTextSize {
  font-size: small;
}

.pointer {
  cursor: pointer;
}

.leaveBack {
  z-index: -1;
}

.leaveFront {
  z-index: 1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 750px) {
  .orderFirst {
    order: 1;
  }
  .orderSecond {
    order: 2;
  }
  .leaveBack {
    display: none;
  }
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
}
